.feedPost {
    width: 95%;
    margin-top: 10px;
}

.item {
    background-color: aliceblue !important;
    padding: 10px !important;
    margin: 10px !important;
    border-radius: 0.5em !important;
    width: unset !important;
}
